<!-- BEGIN WEATHER CARD -->
<div class="weather-card card mt-4 mx-auto p-3 p-md-4 border-0" *ngIf="weather && !loading">
	<h2 id="weather-header-details" class="card-headline text-uppercase">Weather</h2>
	<div id="weather-details" class="card-details d-flex pt-3">
        <div class="description mr-auto">
            <img [src]="weather.weatherImgUrl" class="rounded mb-2" alt="{{weather.weather}}" />
            <h3 id="weatherShortDescription">{{weather.weather}}</h3>
            <p id="weatherDateTime" class="mb-0">{{weather.date}}</p>
            <p id="weatherLocation" class="mb-0">{{weather.location}}, {{weather.state}}</p>
        </div><!-- /.description -->
        <div class="reading d-flex">
            <h4 id="weatherTemp" class="mb-0">{{weather.temp}}<span>&#176;F</span></h4>
        </div><!-- /.reading -->
    </div><!-- /#weather-details.card-details -->
</div><!-- /.weather-card.card -->
<!-- END WEATHER CARD -->

<!-- BEGIN COMPONENT LOADER -->
<loader message="Loading Weather Near You" *ngIf="loading"></loader>
<!-- END COMPONENT LOADER -->
