<!-- BEGIN WEATHER CARD -->
<div class="weather-card card mt-4 mx-auto p-3 p-md-4 border-0">
	<h2 id="weather-header-details" class="card-headline text-uppercase">Weather</h2>
	<div id="weather-details" class="card-details d-flex pt-3">
        <div class="description mr-auto">
            <h3 id="weatherShortDescription">Sunny</h3>
            <p id="weatherLongDescription" class="mb-0">Sunny, with a high near 48. West wind 8 to 11 mph, with gusts as high as 26 mph.</p>
        </div><!-- /.description -->
        <div class="reading d-flex">
            <h4 id="weatherTemp" class="mb-0">47<span>&#176;F</span></h4>
        </div><!-- /.reading -->
    </div><!-- /#weather-details.card-details -->
</div><!-- /.weather-card.card -->
<!-- END WEATHER CARD -->

<!-- BEGIN COMPONENT LOADER -->
<loader message="Loading Weather Near You"></loader>
<!-- END COMPONENT LOADER -->
