<div class="about-card card mt-4 mx-auto py-3 py-md-4 border-0">
	<h2 class="card-headline text-uppercase px-3 px-md-4">About</h2>
	<img src="assets/images/about-hero.jpg" class="page-hero" alt="Nemours About">
	<div class="card-details pt-3 px-3 px-md-4">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ratione reprehenderit non adipisci, laboriosam repellendus temporibus suscipit fugiat accusamus veniam dolore ea culpa vitae, consequuntur aliquid magnam ipsa, a aut! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eligendi unde suscipit dolorum molestias modi corrupti, accusantium, neque culpa autem libero eveniet animi maxime sapiente fugiat provident inventore tenetur fuga!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime laboriosam nihil, magnam praesentium nobis magni eaque officiis quos mollitia quisquam ducimus tenetur molestias obcaecati sapiente sed a facere, inventore illo!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat reiciendis soluta tempora odio at aliquid facere, quia quis adipisci officiis, veritatis dicta voluptas. Quos quo beatae, expedita temporibus nihil qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam reprehenderit sunt deleniti eos alias rem, blanditiis ratione, eligendi tempore delectus cumque totam! Possimus, voluptatem ipsa, exercitationem doloremque dignissimos cumque porro.</p>
	</div><!-- /.card-details -->
</div><!-- /.about-card.card -->
