<div class="about-card card mt-4 mx-auto p-3 p-md-4 border-0">
	<h2 class="card-headline text-uppercase">About</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ratione reprehenderit non adipisci, laboriosam repellendus temporibus suscipit fugiat accusamus veniam dolore ea culpa vitae, consequuntur aliquid magnam ipsa, a aut!</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ratione reprehenderit non adipisci, laboriosam repellendus temporibus suscipit fugiat accusamus veniam dolore ea culpa vitae, consequuntur aliquid magnam ipsa, a aut!</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ratione reprehenderit non adipisci, laboriosam repellendus temporibus suscipit fugiat accusamus veniam dolore ea culpa vitae, consequuntur aliquid magnam ipsa, a aut!</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ratione reprehenderit non adipisci, laboriosam repellendus temporibus suscipit fugiat accusamus veniam dolore ea culpa vitae, consequuntur aliquid magnam ipsa, a aut!</p>
</div><!-- /.about-card.card -->
