/* General */
body {
	font-family: 'Roboto', sans-serif;
	background-color: #e3e6ef;
}

p {
	font-size: 14px;
	line-height: 20px;
	color: #666666;
}

/* Navigation */
.bg-faded { color: #fff; background: #4f7abb; }
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open>.nav-link { color: rgba(255,255,255,.9); }
.navbar-light .navbar-nav .nav-link { color: rgba(255,255,255,.5); }

/* General Card Styles */
.card {
	max-width: 780px;
	-webkit-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
}

h2.card-headline {
  font-size: 14px;
  color: #666666;
  letter-spacing: 1px;
  font-weight: 700;
}
